.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1123.313%2c186.676C1152.437%2c185.553%2c1177.74%2c168.102%2c1192.027%2c142.698C1206.019%2c117.818%2c1206.966%2c87.687%2c1192.973%2c62.808C1178.702%2c37.435%2c1152.42%2c21.008%2c1123.313%2c20.535C1093.369%2c20.048%2c1065.293%2c34.96%2c1049.615%2c60.477C1033.151%2c87.274%2c1028.906%2c121.216%2c1044.766%2c148.375C1060.51%2c175.335%2c1092.116%2c187.879%2c1123.313%2c186.676' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M170.9416416946223-32.11921024520582L120.44887296506968 123.28155282013567 275.84963603041115 173.7743215496883 326.34240475996376 18.373558484346788z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1120.453%2c589.338C1155.215%2c587.079%2c1187.242%2c573.302%2c1207.145%2c544.712C1230.84%2c510.675%2c1251.525%2c466.873%2c1230.654%2c431.036C1209.855%2c395.322%2c1161.767%2c394.744%2c1120.453%2c395.857C1081.75%2c396.9%2c1041.69%2c404.586%2c1020.079%2c436.71C995.953%2c472.573%2c988.023%2c521.293%2c1011.773%2c557.407C1034.009%2c591.22%2c1080.069%2c591.962%2c1120.453%2c589.338' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M25.923017422767163 321.5123864959114L93.58914636383301 434.1277365426118 206.2044964105334 366.46160760154595 138.53836746946754 253.84625755484558z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M933.7896976446046 460.5281640641878L846.6599644770173 352.93190432587653 739.063704738706 440.0616374934639 826.1934379062933 547.6578972317752z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M417.4512129136393 440.55486366920803L340.96428288425597 331.32020700592074 231.72962622096867 407.8071370353041 308.216556250352 517.0417936985914z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M120.418%2c623.217C169.095%2c623.145%2c224.917%2c621.949%2c249.637%2c580.016C274.582%2c537.701%2c252.904%2c485.525%2c225.697%2c444.628C201.83%2c408.752%2c163.418%2c388.569%2c120.418%2c385.783C70.905%2c382.575%2c16.062%2c387.99%2c-11.481%2c429.26C-41.458%2c474.178%2c-39.834%2c535.746%2c-9.467%2c580.401C18.009%2c620.804%2c71.558%2c623.29%2c120.418%2c623.217' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1227.805%2c292.547C1274.682%2c290.227%2c1318.732%2c267.182%2c1340.993%2c225.863C1362.236%2c186.435%2c1354.431%2c139.104%2c1331.06%2c100.899C1308.79%2c64.494%2c1270.457%2c42.292%2c1227.805%2c40.832C1182.246%2c39.272%2c1137.197%2c55.709%2c1111.53%2c93.382C1082.188%2c136.449%2c1067.12%2c193.11%2c1093.394%2c238.115C1119.515%2c282.857%2c1176.059%2c295.108%2c1227.805%2c292.547' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M418.62971605465657 405.8198717554665L484.48222433197583 318.6037030147016 389.8796531953595 305.30817870216913z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
